# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  # Setting an environment variable with the value of a configuration variable
  CONNECTIONSTRINGS__DEFAULT: "${{ env.CONNECTIONSTRINGS__DEFAULT }}"
  TEST123: "Hello World 2"

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0.23
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: test
          MYSQL_ALLOW_EMPTY_PASSWORD: true
        ports:
          - 33306:3306
    steps:
    - uses: actions/checkout@v3
  
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: "Show env vars"
      id: envvars
      run: |
        echo "TEST_VAR = $TEST_VAR" >> $GITHUB_OUTPUT
        echo "CONNECTIONSTRINGS__DEFAULT = $CONNECTIONSTRINGS__DEFAULT" >> $GITHUB_OUTPUT

    - name: Check MySQL version
      run: mysql -V

    - name: Start MySQL
      run: sudo systemctl start mysql

    - name: Check MySQL version
      run: mysql -uroot -proot -e "SHOW VARIABLES LIKE 'version%';"

    - name: Check MySQL authentication
      run: mysql -uroot -proot -e "SHOW VARIABLES LIKE 'default_authentication_plugin';"

    - name: Create database
      run: mysql -uroot -proot -e 'CREATE DATABASE IF NOT EXISTS test CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;'

    - name: Create database tables
      run: mysql -uroot -proot test --force < Schema/schema.sql

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Test
      run: dotnet test --no-build --verbosity normal --collect:"XPlat Code Coverage"

    #- name: Codecov
    #  uses: codecov/codecov-action@v3
