# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  # Setting an environment variable with the value of a configuration variable
  CONNECTIONSTRINGS__DEFAULT: ${{ secrets.CONNECTIONSTRINGS__DEFAULT }}
  CONNECTIONSTRINGS__DEFAULT2: ${{ vars.CONNECTIONSTRINGS__DEFAULT }}
  TEST123: "Hello World ${{ vars.ASPNETCORE_ENVIRONMENT }}"

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0.23
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: test
          MYSQL_ALLOW_EMPTY_PASSWORD: true
        ports:
          - 33306:3306
    steps:
    - uses: actions/checkout@v3
  
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: Export connection string (only when available)
      shell: bash
      run: |
        if [ -n "${{ secrets.CONNECTIONSTRINGS__DEFAULT }}" ]; then
          echo "CONNECTIONSTRINGS__DEFAULT=${{ secrets.CONNECTIONSTRINGS__DEFAULT }}" >> "$GITHUB_ENV"
        else
          echo "Secret not available in this run; using local mysql."
          echo "CONNECTIONSTRINGS__DEFAULT=Server=127.0.0.1;Port=33306;Database=test;User=root;Password=root;" >> "$GITHUB_ENV"
        fi

    - name: Show env vars
      run: |
        echo "CONNECTIONSTRINGS__DEFAULT is set: ${CONNECTIONSTRINGS__DEFAULT:+YES}"

   
